<!--! endpoint: /admin/cars/list-car  -->
<%- include('../../components/html_header.ejs') %>

<div class="d-flex justify-content-between">
	<!--! SIDEBAR  -->
	<%- include('../../components/sidebar.ejs') -%>

	<main class="w-100">
		<div class="container bg-transparent">
			<!--! TOP BAR  -->
			<%- include('../../components/top_bar.ejs') -%>
			<!--! BREADCRUMB  -->
			<div class="d-flex justify-content-between">
				<nav class="breadcrumb">
					<p class="breadcrumb-item fw-bold">Cars</p>
					<a
						href="/admin/cars/list-car"
						class="nav-link breadcrumb-item fw-bold"
					>
						List Car
					</a>
					<span
						class="breadcrumb-item active"
						aria-current="page"
						>Add New Car</span
					>
				</nav>
			</div>

			<!--! CONTENT HEADER  -->
			<div class="d-flex justify-content-between align-items-center my-3 my-md-0">
				<div class="content_header-title">
					<h5 class="fw-bold">Add New Car</h5>
				</div>
			</div>

			<!--! CONTENT -->
			<form
				action="/admin/cars/list-car/add"
				method="post"
				enctype="multipart/form-data"
			>
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-6">
							<!--! name  -->
							<div class="row">
								<div class="col-4">
									<label
										for="name"
										class="form-label"
										>Nama<i style="color: red">*</i></label
									>
								</div>
								<div class="col-8">
									<div class="mb-3">
										<input
											type="text"
											class="form-control"
											name="name"
											id="name"
											placeholder="Avanza"
										/>
									</div>
								</div>
							</div>
							<!--! rent per day  -->
							<div class="row">
								<div class="col-4">
									<label
										for="rentPerDay"
										class="form-label"
										>Sewa Per Hari<i style="color: red">*</i></label
									>
								</div>
								<div class="col-8">
									<div class="mb-3">
										<input
											type="number"
											class="form-control"
											name="rentPerDay"
											id="rentPerDay"
											placeholder="Rp. 0 -"
											min="0"
										/>
									</div>
								</div>
							</div>
							<!--! size  -->
							<div class="row">
								<div class="col-4">
									<label
										for="capacity"
										class="form-label"
										>Ukuran<i style="color: red">*</i></label
									>
								</div>
								<div class="col-8">
									<div class="mb-3">
										<select
											class="form-select"
											name="capacity"
											id="capacity"
										>
											<option hidden>ukuran</option>
											<option value="2">Small</option>
											<option value="4">Medium</option>
											<option value="6">Large</option>
										</select>
									</div>
								</div>
							</div>
							<!--! photo  -->
							<div class="row">
								<div class="col-4">
									<label
										for="image"
										class="form-label"
										>Foto<i style="color: red">*</i></label
									>
								</div>
								<div class="col-8">
									<div class="mb-3">
										<div class="input-group">
											<input
												type="file"
												class="form-control"
												name="image"
												id="image"
												max="2048"
												required
											/>
										</div>
										<div
											class="form-text"
											id="basic-addon4"
										>
											File Size Max 2Mb
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--! FIELDS ERROR  -->
						<% if(field_error != ''){ %>
						<div
							class="alert alert-danger alert-dismissible fade show w-100 mt-5"
							role="alert"
						>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="alert"
								aria-label="Close"
							></button>
							<strong>Error</strong> <%-field_error%>
						</div>

						<% } %>
					</div>
					<div class="row position-fixed bottom-0 my-4">
						<div class="col-6 d-flex gap-2">
							<a
								href="/admin/cars/list-car"
								class="d-block py-2 px-3 nav-link rounded-0 primary-outline fw-bold text-center"
							>
								Cancel</a
							>

							<input
								type="submit"
								value="Save"
								class="d-block py-2 px-3 nav-link rounded-0 primary-color fw-bold text-center"
							/>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
</div>

<!--! FOOTER  -->
<%- include('../../components/html_footer.ejs') %>
