<!--! endpoint: /admin/cars/list-car  -->

<%- include('../../components/html_header.ejs') -%>

<!--! MESSAGE  -->
<% if(message != ''){ %>
<div
	class="alert alert-<%-message[0]%> text-center fade show w-25 position-absolute mt-5"
	style="position: absolute; left: 50%; transform: translate(-50%, -50%)"
	role="alert"
>
	<strong>Berhasil</strong> <%-message[1]%>
</div>

<% } %>

<div class="d-flex justify-content-between">
	<!--! SIDEBAR  -->
	<%- include('../../components/sidebar.ejs') -%>

	<main class="w-100">
		<div class="container bg-transparent">
			<!--! TOP BAR  -->
			<%- include('../../components/top_bar.ejs') -%>

			<!--! BREADCRUMB  -->
			<div class="d-flex justify-content-between">
				<nav class="breadcrumb">
					<p class="breadcrumb-item fw-bold">Cars</p>
					<span
						class="breadcrumb-item active"
						aria-current="page"
						>List Car</span
					>
				</nav>
			</div>

			<!--! CONTENT HEADER  -->
			<div class="d-flex justify-content-between align-items-center my-3 my-md-0">
				<div class="content_header-title">
					<h5 class="fw-bold">List Cars</h5>
				</div>
				<div class="content_header-button">
					<a
						href="list-car/add"
						class="d-block w-100 py-2 px-4 nav-link rounded-0 primary-color text-white fw-bold text-center"
					>
						<i
							><img
								src="/assets/images/fi_plus.svg"
								alt="add-icon"
						/></i>
						Add New Car</a
					>
				</div>
			</div>

			<!--! CONTENT FILTER  -->
			<div class="d-flex justify-content-start align-items-center">
				<ul class="nav justify-content-center gap-2">
					<li class="nav-item">
						<a
							class="nav-link py-2 rounded-0 primary-outline-nonactive <% if (capacity === undefined) { %>active<% } %>"
							href="list-car"
							aria-current="page"
							>All</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link py-2 rounded-0 primary-outline-nonactive <% if (capacity === '2') { %>active<% } %>"
							href="list-car?capacity=2"
							>Small</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link py-2 rounded-0 primary-outline-nonactive <% if (capacity === '4') { %>active<% } %>"
							href="list-car?capacity=4"
							>Medium</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link py-2 rounded-0 primary-outline-nonactive <% if (capacity === '6') { %>active<% } %>"
							href="list-car?capacity=6"
							>Large</a
						>
					</li>
				</ul>
			</div>

			<!--! CONTENT -->
			<div class="d-flex justify-content-center-align-items-center">
				<div class="row m-3 mx-auto d-flex justify-content-evenly w-100">
					<% if(cars.length > 0){ %> <% cars.map((car)=>{ %>

					<div
						class="col-12 col-md-6 col-lg-4 card border-0 mt-4"
						id="card-car"
					>
						<div class="card-body h-100">
							<img
								class="img-fluid"
								id="img-car"
								src="/assets/<%- car.image %>"
								alt="<%- car.name %>"
							/>
							<h2
								class="card-title fw-bold pt-2"
								id="car-name"
							>
								<%- car.name %>
							</h2>
							<h4
								class="card-sub-title fw-bold"
								id="car-rent"
							>
								<%- 'Rp. ' + car.rentPerDay + '/ hari' %>
							</h4>
							<i
								><img
									src="/assets/images/fi_clock.svg"
									alt="clock-icon"
							/></i>
							<%- car.updatedAt %>
						</div>
						<div class="card-footer border-0">
							<div class="d-flex gap-2">
								<!-- Button Modal -->
								<button
									type="button"
									class="nav-link d-block py-2 nav-link rounded-2 danger-outline fw-bold text-center w-100"
									data-bs-toggle="modal"
									data-bs-target="#deleteCar<%- car.id %>"
								>
									<i
										><img
											src="/assets/images/fi_trash-2.svg"
											alt="user-icon"
									/></i>
									Delete
								</button>
								<!-- Modal Content -->
								<div
									class="modal fade"
									id="deleteCar<%- car.id %>"
									tabindex="-1"
									aria-labelledby="deleteCarLabel"
									aria-hidden="true"
								>
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-body rounded bg-white text-center">
												<div class="row">
													<div class="col-12 d-flex justify-content-center align-items-center">
														<img
															src="/assets/images/delete_car_icon.svg"
															alt="car_icon"
															class="img-fluid"
															style="width: 153px; height: 121px"
														/>
													</div>

													<div class="col-12">
														<h5 class="fw-bold">Menghapus Data Mobil</h5>
													</div>
													<div class="col-12">
														<p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
													</div>
												</div>
												<div class="row">
													<div class="col-6 d-flex justify-content-end align-items-center">
														<form
															action="list-car/delete/<%- car.id %>"
															method="post"
															class="w-50"
															title="<%- car.name %>"
														>
															<button
																type="submit"
																class="d-block w-100 py-2 px-4 nav-link rounded primary-color text-white fw-bold text-center"
															>
																Ya
															</button>
														</form>
													</div>
													<div class="col-6 d-flex justify-content-start align-items-center">
														<button
															class="d-block w-50 py-2 px-4 nav-link rounded primary-outline primary-text fw-bold text-center"
															data-bs-dismiss="modal"
														>
															Tidak
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a
									href="list-car/edit/<%- car.id %>"
									class="d-block w-100 py-2 nav-link rounded-2 success-color text-white fw-bold text-center"
								>
									<i
										><img
											src="/assets/images/fi_edit.svg"
											alt="user-icon"
									/></i>
									Edit</a
								>
							</div>
						</div>
					</div>

					<% }) %> <% } else{%>
					<div
						class="alert alert-danger text-center fw-bold mt-2 w-100"
						role="alert"
						style="width: 50vw !important"
					>
						Mobil Tidak Tersedia!
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</main>
</div>

<script>
	const searchForm = document.querySelector('#search-form');
	const searchInput = document.querySelector('#search-input');
	const resultsContainer = document.querySelector('.results-container');

	searchForm.addEventListener('submit', async (e) => {
		e.preventDefault();

		const searchTerm = searchInput.value;

		window.location.href = `http://localhost:2000/admin/cars/list-car?search=${searchTerm}`;
	});
</script>

<%- include('../../components/html_footer.ejs') %>
